<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body class="text-center d-flex flex-column justify-content-center align-items-center" style="min-height:100vh;">
    <% if(isLoading) {%>
        <p>Cargando...</p>
    <% } else {%>
        
    <form action="/nextQuestion" method="post" class="container">
        <% if(totalQuestions) {%>
            <p><%= questionsAnswered %>/<%= totalQuestions %></p>
        <% } %>
    <%# questions.forEach(element => { %>
        <div class="container" style="max-width: 500px;">
            <h4><%= question.question %></h4>
        </div>
        <div class="list-group m-auto" style="max-width: 400px;">
            <% question.options.forEach((el) => { %>
                <button type="submit" class="list-group-item list-group-item-action list-group-item-warning text-primary" name="answer" id="answer" value="<%= el.option %>"><%= el.option %></button>
                <!-- <input type="checkbox" name="answer" id="answer" value="<%#= el.option %>"> <%#= el.option %> -->
                <% }) %>
        </div>
            <%# }) %>

    
        <input type="hidden" name="currentQuestionIndex" value="<%= currentQuestionIndex %>">
        <!-- <button type="submit">Siguiente</button> -->

    </form>
    <!-- <form action="/previousQuestion" method="post">
        <input type="hidden" name="currentQuestionIndex" value="<%#= currentQuestionIndex %>">
        <button type="submit">Anterior</button>
    </form> -->
    <% } %>
</body>
</html>